.main {
	text-align: center;
}

.link {
	margin: 30px 10px 0;
	padding: 8px 20px;
	border-radius: 30px;
	font-family: "nunito", sans-serif;
	background-color: rgba(252, 3, 98, 1);
	border: none;
	text-align: center;
	color: aliceblue;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
	box-shadow: 2px 4px 6px rgb(139, 139, 139);
}

.link.active {
	color: blueviolet;
	box-shadow: 0 4px 6px rgb(139, 139, 139);
}
