@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

.dashboardCardDeck {
	margin: 75px auto auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 80%;
	height: 510px;
	border-radius: 10px;
}

.dashboardCard {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 115px;
	background-color: blueviolet;
	border-radius: 10px;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	font-weight: bolder;
}
