.ContactData {
	margin: 20px auto;
	width: 80%;
	text-align: center;
	box-shadow: 5px 5px 5px #777272;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	background-color: #fc0362;
	font-family: "roboto", sans-serif;
	color: aliceblue;
}

.button:disabled {
	cursor: not-allowed;
	color: #ccc;
}

.button {
	border: none;
	color: #5c9210;
	background-color: aliceblue;
	border-radius: 5px;
	margin: 10px auto;
	padding: 5px 20px;
	font-family: "nunito", sans-serif;
	font-size: 18px;
}

@media (min-width: 600px) {
	.ContactData {
		width: 500px;
	}
}
